/* #img {
    height: 75px;
    width: 75px;
} */
.imgSize {
    height: 300px;
    display: block; 
    position: relative; 
    /* margin-left: 50px;
    margin-right: 50px; */
};

.jumbotron {
   background-color: aqua !important;
}

h1 {
    font-family: 'Hanalei', cursive;
    font-family: 'Londrina Sketch', cursive;
    font-size: 15rem !important;

}

.lead {
    font-style: italic;
}

.imgButtons {
   margin-left: 5px;
   margin-top: 5px;
}

.topic{
    margin-left: 5px
    
}
#mySearch{
    margin-left: 5px
    
}




/* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/* // Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { ... } */

/* // Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */ 